.steps-content {
  min-height: 300px !important;
  margin-top: 16px;
  padding-top: 80px;
  text-align: center;
  background-color: #fafafa;
  border: 1px dashed #e9e9e9;
  border-radius: 2px;
}

.steps-action {
  margin-top: 24px;
}
.ant-table-filter-trigger-container .ant-table-filter-trigger{
	color: #1890ff !important;
	font-size: 21px;
}

/* .ant-table.ant-table-bordered>.ant-table-container>.ant-table-body>table>tbody>tr>td{
  background-color: #1890ff !important;
} */