.header{
  padding: 0;
  background: #f5f5f5;
  border-bottom: #212529 solid 2px;
}
.logo {
  padding: 10px;
  min-width: 50px;
  min-height: 50px;
  max-width: 120px;
  max-height: 120px;
  margin: auto !important;
  text-align: center;
  color: #fff !important;
  /* background: rgba(255, 255, 255, 0.3); */
}
.logo h3 {
  color: #fff !important;
}
.menu::-webkit-scrollbar{
  width: 5px;
}
.menu::-webkit-scrollbar-thumb{
  background:#b8b9b8;
  border-radius: 10px;
}
